In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\bramk\anaconda3\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\bramk\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)

In [2]:
import mysql.connector as connector

In [4]:
connection = connector.connect(user = "admin1", password = "1234", db='littlelemondb')

In [5]:
cursor=connection.cursor()

In [6]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

In [14]:
table = cursor.fetchall()
for table in tables:
    print(table[0])

bookings
contactdetails
customers
menucontent
menuitems
menus
orderdeliverystatus
orders
ordersview
roles
staff

In [17]:
join_query='''
SELECT orders.TotalCost, customers.Name, contactdetails.Email, contactdetails.PhoneNumber
FROM orders INNER JOIN customers ON customers.CustomerID = orders.CustomerID
INNER JOIN contactdetails ON customers.CustomerID = contactdetails.CustomerID
WHERE TotalCost > 60
'''
cursor.execute(join_query)
customer = cursor.fetchall()
for customer in customers:
    print(customer)